body {
    background-color: rgb(51, 0, 51);
}

/*-------------Principal-------------*/

.tela {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

    h3{
        font-family: sans-serif;
    }

.tela>#login>.telaLogin {
    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;
    align-items: center;

    background-color: rgb(23, 20, 41, 0.8);
    border: 8px solid rgb(194, 194, 194, 0, 6);
    border-radius: 5ch;


    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tela>#login>.telaLogin hr {
    width: 300px;
    height: 1px;

    background-color: white;
}

.tela>#login>.telaLogin h1 {}

.tela>#login>.telaLogin h3 {
    margin-bottom: 20px;
}

.tela>#login>.telaLogin p {}

.tela>#login>.telaLogin>form>#email {
    outline: none;
    background-color: rgb(39, 33, 78);
    border-radius: 4ch;
    border: 3px solid rgb(42, 36, 83);
    width: 200px;
    height: 43px;

    text-align: center;
    text-indent: 10px;
    color: whitesmoke;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    transition: background-color 0.5s ease, border 0.5s;
    box-shadow: rgba(104, 92, 179, 0.5) 0 1px 30px;
}

.tela>#login>.telaLogin>form>#email:hover {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgb(49, 43, 90);
}

.tela>#login>.telaLogin>form>#email:focus {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgb(49, 43, 90);
}

.tela>#login>.telaLogin>form>#email::placeholder {
    color: rgb(172, 172, 172);
}

.tela>#login>.telaLogin>form>#senha {
    outline: none;
    background-color: rgb(39, 33, 78);
    border-radius: 4ch;
    border: 3px solid rgb(42, 36, 83);
    width: 200px;
    height: 43px;

    text-align: center;
    text-indent: 10px;
    color: whitesmoke;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    transition: background-color 0.5s ease, border 0.5s;
    box-shadow: rgba(104, 92, 179, 0.5) 0 1px 30px;
}

.tela>#login>.telaLogin>form>#senha:hover {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgb(49, 43, 90);
}

.tela>#login>.telaLogin>form>#senha:focus {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgb(49, 43, 90);
}

.tela>#login>.telaLogin>form>#senha::placeholder {
    color: whitesmoke;
}

.tela>#login>.telaLogin>form>#email::placeholder {
    color: whitesmoke;
}

.tela>#login>.telaLogin>form>#email:hover {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgb(49, 43, 90);
}

.tela>#login>.telaLogin>form>#email:focus {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgb(49, 43, 90);
}

.tela>#login>.telaLogin>form>#email::placeholder {
    color: whitesmoke;
}

.tela>#login>.telaLogin>form>.termos {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.tela>#login>.telaLogin>form>.termos>a {
    text-decoration: underline;
    color: white;
    font-weight: 800;
}

.tela>#login>.telaLogin>form>.termos>a {
    text-decoration: underline;
    color: white;
    font-weight: 800;
}

.tela>#login>.telaLogin>form>.termos input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.tela>#login>.telaLogin>form>.termos .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.tela>#login>.telaLogin>form>.termos .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: rgb(50, 34, 155);
    border-radius: 8px;
    transition: background 0.2s ease;
}

.tela>#login>.telaLogin>form>.termos .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: rgb(108, 97, 179);
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(132, 120, 212, 0.5);
    transition: all 0.2s ease;
}

.tela>#login>.telaLogin>form>.termos .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgb(63, 56, 109);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.tela>#login>.telaLogin>form>.termos input[type="checkbox"]:checked+.toggle:before {
    background: rgb(67, 51, 172);
}

.tela>#login>.telaLogin>form>.termos input[type="checkbox"]:checked+.toggle span {
    background: whitesmoke;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(169, 162, 214, 0.5);
}

.tela>#login>.telaLogin>form>.termos input[type="checkbox"]:checked+.toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

/*-------------Botão-------------*/

#mandar {
    margin-top: 20px;
    outline: none;
    background-color: rgb(39, 33, 78);
    border-radius: 4ch;
    border: 3px solid rgb(42, 36, 83);
    width: 200px;
    height: 43px;

    text-align: center;
    text-indent: 10px;
    color: whitesmoke;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    transition: background-color 0.5s ease, border 0.5s, box-shadow 0.5s ease;
}

.mandar:enabled {
    box-shadow: rgba(104, 92, 179, 0.5) 0 1px 30px;

    cursor: pointer;
}

.mandar:disabled:hover {
    cursor: not-allowed;
}

.tela>#login>.telaLogin>form>#mandar:hover:enabled {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgb(49, 43, 90);
}

/*-------------Cabeçalho-------------*/

body>#cabeca {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px;

}

body>#cabeca>.inscrever>a {
    text-decoration: underline;
    color: white;
}

body>#cabeca>.inscrever {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    width: 450px;
    height: 75px;

    background-color: rgb(23, 20, 41, 0.8);
    border: 8px solid rgb(194, 194, 194, 0, 6);
    border-radius: 5ch;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #444;
}

input:checked+.slider:before {
    transform: translateX(25px);
}
h5{
    font-family: "DM Sans", sans-serif;
    color: white;
    justify-self: center;
}