body.claro{
    background-color: white;
}
/*-------------Principal-------------*/


.claro .tela > #login > .telaLogin {
    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.9);
    border: 8px solid rgba(194, 194, 194, 0.6);
    border-radius: 5ch;

    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: black;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.claro .tela > #login > .telaLogin hr {
    width: 300px;
    height: 1px;

    background-color: black;
}

.claro .tela > #login > .telaLogin > form > #email {
    outline: none;
    background-color: rgba(240, 240, 240);
    border-radius: 4ch;
    border: 3px solid rgba(200, 200, 200);
    width: 200px;
    height: 43px;

    text-align: center;
    text-indent: 10px;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    transition: background-color 0.5s ease, border 0.5s;
    box-shadow: rgba(104, 92, 179, 0.5) 0 1px 30px;
}

.claro .tela > #login > .telaLogin > form > #email:hover {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgba(220, 220, 220);
}

.claro .tela > #login > .telaLogin > form > #email:focus {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgba(220, 220, 220);
}

.claro .tela > #login > .telaLogin > form > #email::placeholder {
    color: rgb(120, 120, 120);
}

.claro .tela > #login > .telaLogin > form > #senha {
    outline: none;
    background-color: rgba(240, 240, 240);
    border-radius: 4ch;
    border: 3px solid rgba(200, 200, 200);
    width: 200px;
    height: 43px;

    text-align: center;
    text-indent: 10px;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    transition: background-color 0.5s ease, border 0.5s;
    box-shadow: rgba(104, 92, 179, 0.5) 0 1px 30px;
}

.claro .tela > #login > .telaLogin > form > #senha:hover {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgba(220, 220, 220);
}

.claro .tela > #login > .telaLogin > form > #senha:focus {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgba(220, 220, 220);
}

.claro .tela > #login > .telaLogin > form > #senha::placeholder {
    color: black;
}

.claro .tela > #login > .telaLogin > form > #email::placeholder {
    color: black;
}

.claro .tela > #login > .telaLogin > form > #email:hover {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgba(220, 220, 220);
}

.claro .tela > #login > .telaLogin > form > #email:focus {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgba(220, 220, 220);
}

.claro .tela > #login > .telaLogin > form > #email::placeholder {
    color: black;
}

.claro .tela > #login > .telaLogin > form > .termos > a {
    text-decoration: underline;
    color: black;
    font-weight: 800;
}

.claro .tela > #login > .telaLogin > form > .termos > a {
    text-decoration: underline;
    color: black;
    font-weight: 800;
}

.claro .tela > #login > .telaLogin > form > .termos .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: rgb(200, 200, 200);
    border-radius: 8px;
    transition: background 0.2s ease;
}

.claro .tela > #login > .telaLogin > form > .termos .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: rgb(180, 180, 180);
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(132, 120, 212, 0.5);
    transition: all 0.2s ease;
}

.claro .tela > #login > .telaLogin > form > .termos .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgb(180, 180, 180);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.claro .tela > #login > .telaLogin > form > .termos input[type="checkbox"]:checked + .toggle:before {
    background: rgb(67, 51, 172);
}

.claro .tela > #login > .telaLogin > form > .termos input[type="checkbox"]:checked + .toggle span {
    background: whitesmoke;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(169, 162, 214, 0.5);
}

.claro .tela > #login > .telaLogin > form > .termos input[type="checkbox"]:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

/*-------------Botão-------------*/

.claro #mandar {
    margin-top: 20px;
    outline: none;
    background-color: rgba(240, 240, 240);
    border-radius: 4ch;
    border: 3px solid rgba(200, 200, 200);
    width: 200px;
    height: 43px;

    text-align: center;
    text-indent: 10px;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    transition: background-color 0.5s ease, border 0.5s, box-shadow 0.5s ease;
}

.claro .mandar:enabled {
    box-shadow: rgba(104, 92, 179, 0.5) 0 1px 30px;

    cursor: pointer;
}

.claro .tela > #login > .telaLogin > form > #mandar:hover:enabled {
    border: 3px solid rgb(63, 56, 109);
    background-color: rgba(220, 220, 220);
}

/*-------------Cabeçalho-------------*/

 .claro body > #cabeca > .inscrever > a {
    text-decoration: underline;
    color: black;
}

.claro body > #cabeca > .inscrever {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    width: 450px;
    height: 75px;

    background-color: rgba(255, 255, 255, 0.9);
    border: 8px solid rgba(194, 194, 194, 0.6);
    border-radius: 5ch;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: black;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
    .claro h5{
    font-family: "DM Sans", sans-serif;
    color: rgb(0, 0, 0);
    justify-self: center;
}